@media screen and (max-width: 999px) {



    header .contato button {
        display: none;
    }





.menu-mobile {
    background-color: #000000;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: all ease .4s;
    border-radius: 12px;
    border: solid 1px #50b6cf1f;
    margin-top: 7px;
    padding-bottom: 5px;
    box-sizing:  border-box;

}

.menu-mobile .btn-fechar {
    padding: 10px 8%;
    margin-top: 8px;
}



.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}
/* ICONE-REDES-SOCIAIS-MOBILE */
.icon-img>div img  {
    margin-right: 13px;
    border-radius: 5px;
    filter: brightness(1.9);
   
}

.menu-mobile ul li a {
    color: #f1ecec !important;
}

.menu-mobile.abrir-menu {
    width: 70%;

}




.menu-mobile .btn-fechar  {
    color: currentColor;
    font-size: 3px;
    cursor: pointer;

}





.menu-mobile nav ul li {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #722997;
    padding: 15px 6%;
    display: block
}


.menu-mobile li a:hover,
.menu-mobile li a:focus {
    color: #93edf3 !important;


}




.icon-img {
    margin-left: 10px;


}


.menu-mobil .icon-img img {
    margin-right: 10px;
    margin-top: 10px;


}

nav.menu-mobile ul li {

    text-decoration: none
}

.menu-mobile {
    position: fixed;
}

.btn-abrir-menu {
    position: fixed;
    top: 9px;
    right: 9px;
    z-index: 9993;
    
    border-radius: 5px;
    background-position: center;
    border: 4px solid #5554550c;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    display: flex;
}

.btn-abrir-menu:hover {
    box-shadow: 0 1px 1px 8px #555455d3;
    background-color: #555455;
    border-radius: 9%;
}





.menu-mobile nav ul li a:hover {
    background-color: #443e4777;
    color: #000000;
    display: block;
    border-radius: 3px;
    border-bottom: 19px;
    transition: .1s;
    padding: 15px 6%;
    transition-delay: 0.2s;
    pointer-events: auto;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}




.overlay-menu {
    background-color: rgba(3, 3, 3, 0.74);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.logo {
    display: none;
}}
.mobile-section {
    margin: 20px;
  }
  
  #ico-mobile {
    display: flex;
    align-items: center;
  }
  
  .icon-img {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  
  .icon-img img {
    width: 100%;
    height: 100%;
  }
  
  .icon-img:hover {
    opacity: 0.7;
  }