
/* SUMIR COM ELEMENTOS NO MENU PRINCIPA DE 800PX ACIMA */
@media screen and (min-width: 800px) {
    
  
.btn-abrir-menu{
    display: none;
  }
  .btn-fechar-a{
    display: none;
  }
  
  .menu-mobile-a a {
    display: none;
  }

  .menu-mobile-a nav {
    display: none;
  }

  
}
